:root {
  --primary-color: #D20026;
  --secondary-bg-color: #272727;

  --bg-color: #1C1C1C;
  --text-color: white;

  --green: #179C44;
  --red: #f7375a;

  --font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  color: var(--text-color);
  font-family: var(--font);
  background-color: var(--bg-color);
}

.header {
  display: flex;
  justify-content: center;
  
  width: 100%;
  margin: 2.5rem 0;
}
.header > .logo {
  width: 8.8125rem;
  height: auto;
}

.menu {
  display: grid;
  width: 100%;
  margin-bottom: 2.5rem;
}
.menu > .menu-link {
  padding: 0.625rem 1rem;

  color: var(--text-color);
  background-color: var(--secondary-bg-color);
  border-left: 0.25rem solid var(--primary-color);

  opacity: .9;
}
.menu-link:hover {
  opacity: 1;
}

.main-content {
  display: grid;
  justify-content: center;
  gap: 1.25rem;

  width: 100%;
  margin-bottom: 2.5rem;
}
.main-content > .title-section {
  font-size: 1.25rem;
  font-weight: 400;
}
.main-content > .cards-map {
  display: flex;
  gap: 2.5rem;
}
.cards-map > .card-map {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-flow: column;
  gap: 1rem;

  width: 8.75rem;
  height: 8.75rem;

  color: var(--text-color);

  background-color: var(--primary-color);
  border-radius: 0.25rem;

  transition: transform 250ms ease-in-out;
}
.card-map:hover {
  transform: scale(1.1);
}

.social-section {
  display: grid;
  gap: .5rem;

  width: 100%;
  margin-bottom: 2.5rem;
  
  opacity: .9;
}
.social-section > .card-social {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: 0.75rem 0.75rem;
  width: 100%;
  background-color: var(--secondary-bg-color);

  transition: all 250ms ease-in-out;
}
.social-section > .card-social .social-message {
  color: white;
  font-weight: 500;
}
.card-social:first-of-type:hover {
  background-color: var(--green);
}
.card-social:last-of-type:hover {
  background-color: var(--red);
}

.footer {
  margin-bottom: 1rem;
  text-align: center;
  opacity: .6;
}
.footer > .info-commercial {
  font-size: 0.75rem;
}
.footer > .info-commercial a {
  color: var(--text-color);
}

/* Large sizes */
@media screen and (min-width: 800px){
  body {
    margin: 0 24%;
  }
}